.card{
  width: 995px!important;
  min-height: 600px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;

}
.card-header{
  background-color: #ffffff;
  height: 82px;
}
.card-header p{
  margin-left: 33px;
  font-weight: 600;
  color: #152536;
  font-size: 28px;
  margin-top: 4px;
}
ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #7749F8 !important;
  border-color: #7749F8 !important;
}
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color:#7749F8 !important;
}
.table td, .table th {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F8F9FA;
}
.table-responsive {
  max-height: 250px;
  overflow-y: auto;
}
button{
background-color: white;
border: none;
}
.card-footer{
  background-color: white;
}
.btn-add button{
  color: #7749F8;
  border: 1px solid #7749F8;
  border-radius: 4px;
}
.btn-info:hover{
  background-color: #7749F8;
}
.btn-add button:hover{
  color: #ffffff;
}

.btn-action{
  background-color: transparent;
  border: none;
}
a{

  padding:  10px 20px;
  background: #ccc;
  border: 1px solid #efefef;
  cursor: pointer;
}

a.active{
  color: #e2e2e2;
  background: #2e2e2e;
}
select{
  height: 38px;
  width: 65px;
  border: 1px solid #CED4DA;
}
b{
  line-height: 38px;
  margin-right:12px;
}
option{
  color: #6C757D;
}

.ngx-pagination .current {
  background: #7749F8!important;
}
.space-between{
justify-content: space-between;
}
.input-group{
  width: 461px;
}
.input-group-text{
  color: #000000;
  font-weight: normal;
  background-color: #F8F9FA;
}
tbody{
  overflow-y: auto;
}
.color-btn{
  color:#7749F8;

}
.ngx-pagination .current {
  background: #7749F8!important;

}
