
/*input.ng-touched.ng-invalid{
  border: 1px solid red;
}*/


.card{
  width: 400px;
  padding-top: 40px;
  font-family: 'Inter', sans-serif;
  color: #707A84;
  font-size: 14px;
  line-height: 16px;
}


.card-header{
  background-color:white;
  border-bottom: none;
}
.card-header h2{
  font-weight: 600;
  color: #152536;
  top: 274px;

}

.card .container{
  display: flex;
}
.card .center{
  justify-content: center;
}
.form-control{
  width: 345px;
}
.form-check-input{
  font-size: 12px;
  line-height: 14px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#7749F8;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  width: 15px;
  height: 15px;
  position: absolute;
}

.custom-control-label{
  position: absolute;
  line-height: 24px;

}
button{
  margin-top:23px;
  width: 370px;
  background-color: #7749F8;
  font-weight: bold;
  border:none;
}
button:hover{
  background-color: #7749F8!important;

}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color:#7749F8;
  border-color: #7749F8;
}

