
.card-text{
  font-size: 14px;
  color: #68717A;
}
.card-text b{
  font-size: 24px;
  color: #152536;
}
.settings img{
  margin-right: 16px;
}
.settings b{
  font-size: 14px;
  position: absolute;
  left: 287px;


}
.card-title{
  font-size: 24px;
  color:#152536;
}
