<div class="sidenav">
  <h4>Game Autobem</h4>
  <a [routerLink]="[serverId,'home']" routerLinkActive="active-link"><img src="../../../assets/img/botao-home 1.png">Home</a>
  <a [routerLink]="['users']"  routerLinkActive="active-link"><img src="../../../assets/img/male-user-shadow 1.png">Usuários</a>
  <a [routerLink]="['server-edit']"  routerLinkActive="active-link"><img src="../../../assets/img/Vector (2).png">Configurações</a>
  <a [routerLink]="['items']"  routerLinkActive="active-link"><img src="../../../assets/img/sword 1.png">Itens</a>
  <a [routerLink]="['jobs']"  routerLinkActive="active-link"><img src="../../../assets/img/ferramentas-de-mao 1.png">Profissões</a>
  <a [routerLink]="['avatar']"  routerLinkActive="active-link"><img src="../../../assets/img/trabalho-em-equipe 1.png">Avatares</a>
  <a [routerLink]="['expMachine']" routerLinkActive="active-link"><img src="../../../assets/img/vending-machine 1.png">Máquina de Exp</a>
  <a [routerLink]="['desease']"  routerLinkActive="active-link"><img src="../../../assets/img/risk-skull 1.png">Defaults</a>
  <a [routerLink]="['tabExp']"  routerLinkActive="active-link"><img src="../../../../../assets/img/Vector (3).png">Tabelas de Exp</a>
</div>

