<div class="card mt-5">
  <div class="card-header">
    <h2>Usuários</h2>
  </div>
  <div class="btn-add">
    <button type="button" class="btn btn-info" [routerLink]="['userCreate']"> Adicionar
    </button>
  </div>
  <form>
  <div class="card-body mt-4">
    <div class="form-group form-inline">
      Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#
          </th>
          <th  scope="col" sortable="name" (sort)="onSort($event)">Name</th>
          <th  scope="col" sortable="email" (sort)="onSort($event)">Email</th>
          <th  scope="col" sortable="permission" (sort)="onSort($event)">Permission</th>
          <th scope="col">Editar</th>
          <th scope="col">Deletar</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let user of users$ | async;">
          <th scope="row">1</th>
          <td><ngb-highlight [result]="user.name" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.email" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="user.permission | number" [term]="service.searchTerm"></ngb-highlight></td>
          <td><a
            ><img src="../../../assets/img/edit 1.png"></a></td>
          <td>
            <a><img src="../../../assets/img/delete 3.png"></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between p-2">
      <div>
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">

        <option [ngValue]="2">2</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="6">6</option>
      </select>
    </div>


    </div>

  </div>
</form>
</div>
