<div class="card mt-5">
  <div class="card-header">
    <h2>Usuários</h2>
  </div>
  <div class="card-body mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <button type="button" class="btn btn-info"
          [routerLink]="['userCreate']">
              <span>+</span>
              </button>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Permission</th>
          <th scope="col">Editar</th>
          <th scope="col">Deletar</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let user of users; let i=index">
          <th scope="row">1</th>
          <td>{{ user?.name }}</td>
          <td>{{ user?.email }}</td>
          <td>{{ user?.permission }}</td>
          <td><a (click)="userEdit(i)"
            ><img src="../../../assets/img/edit 1.png"></a></td>
          <td>
            <a (click)="userDelete(i)"><img src="../../../assets/img/delete 3.png"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between p-2">
      <div>
      <label class="mr-2"><b>Resultados por página</b></label>
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshServers()">

        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
      </select>
    </div>
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"  aria-label="Custom pagination" (pageChange)="refreshServers()">
        <ng-template ngbPaginationPrevious>Anterior</ng-template>
        <ng-template ngbPaginationNext>Próximo</ng-template>
      </ngb-pagination>

    </div>

  </div>
</div>

