<!--<div class="card mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <button type="button" class="btn btn-info"
        [routerLink]="['deseaseCreate']">
            <span>+</span>
            </button>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Dano a cada 10min</th>
        <th scope="col">Duração em minutos</th>
        <th scope="col">Contagioso</th>
        <th scope="col">Tem Vacina</th>
        <th scope="col">Preço da Vacina</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody *ngFor="let desease of desease; let i=index">
      <tr>
        <th scope="row">1</th>
        <td>{{desease?.name}}</td>
        <td>{{desease?.damageEachTenMinutes}}</td>
        <td>{{desease?.durationInMinutes}}</td>
        <td>{{desease?.contagious}}</td>
        <td>{{desease?.hasVacine}}</td>
        <td>{{desease?.vacinePrices}}</td>
        <td><button type="button" class="btn btn-info" (click)="deseaseEdit(i)"
          >Edit</button></td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deseaseDelete(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->

<app-table-detail
[tableTitle] = "currentTitle"
[columns] = "dataColumn"
[dataItems$] ="dataItems"
[ITEMS] = "ITEMS"
[actions] = "dataAction"
(action)="action($event)"
(create)="create($event)">

</app-table-detail>
