
<div class="modal" id="expTabModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 modal-title>Tabela de Experiência</h4>
        <div>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#expTabModal2">
            <span>+</span>
            </button>
            <button type="button" class="close" data-dismiss="modal">
              <span >X</span>
            </button>
        </div>

      </div>
      <div class="modal-body">
        <div class="card">
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Level</th>
              <th scope="col">Exp</th>
              <th scope="col">Title</th>
              <th scope="col">Editar</th>
              <th scope="col">Deletar</th>

            </tr>
          </thead>
          <tbody *ngFor="let tabExp of tabExp; let i=index">
            <tr>
              <td>{{ tabExp?.exp }}</td>
              <td>{{ tabExp?.level }}</td>
              <td>{{ tabExp?.title }}</td>
              <td><button type="button" class="btn btn-info"
                (click)="onedit(i)" data-dismiss="modal"
                data-toggle="modal" data-target="#expTabModal3"
                >Edit</button></td>
              <td>
                <button type="button" class="btn btn-danger" (click)="delete(i)">Delete</button>
              </td>

            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="expTabModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 modal-title>Adicionar Tabela de Experiência</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>X</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="experience">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="level">Level</label>
            <input type="number" class="form-control" id="level" formControlName="level">
          </div>
          <div class="form-group">
            <label for="exp">Experiência</label>
            <input type="number" class="form-control" id="exp" formControlName="exp">
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="addExp()">Adicionar</button>
      <button type="submit" class="btn btn-primary" (click)="saveExp()">Salvar Alterações</button>
      </div>
    </div>
  </div>
</div>

