
    <div class="card"  style="width: 18rem;">
      <div class="card-header">
        <h2>Servidores</h2>
      </div>
      <div class="card-body mt-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Compartilhado</th>
              <th scope="col">Debuffs</th>
              <th scope="col">Dinheiro Inicial</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let datalistServer of datalistServers; let i=index">
              <th scope="row">{{i}}</th>
              <td>{{datalistServer?.name}}</td>
              <td >
                <img [src]="myimg2" *ngIf="datalistServer.shared == true">
                <img [src]="myimg1" *ngIf="datalistServer.shared == false">
              </td>
              <td>
                <img [src]="myimg2" *ngIf="datalistServer.hasDisease== true">
                <img [src]="myimg1" *ngIf="datalistServer.hasDisease == false">
              </td>
              <td>{{datalistServer?.initialMoney}}</td>
              <td><button [routerLink]="['server']" ><img [src]="myimg"></button></td>
            </tr>
            <tr>

          </tbody>
        </table>

      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between p-2">
          <div>
          <label class="mr-2"><b>Resultados por página</b></label>
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshServers()">

            <option [ngValue]="4">4</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="8">8</option>
          </select>
        </div>
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"  aria-label="Custom pagination" (pageChange)="refreshServers()">
            <ng-template ngbPaginationPrevious>Anterior</ng-template>
            <ng-template ngbPaginationNext>Próximo</ng-template>
          </ngb-pagination>

        </div>

      </div>
    </div>





