<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a class="nav-link" routerLink="{{serverId}}/avatar">Avatar</a></li>
        <li><a class="nav-link">Exp Machine</a></li>
        <li><a class="nav-link">Jobs</a></li>
        <li><a class="nav-link">Itens</a></li>
        <li><a class="nav-link">Desease</a></li>
        <li><a class="nav-link">Usuários</a></li>
    </ul>
  </div>
</nav>


<div class="row justify-content-center">
  <div class="col-sm-12 mt-5 mb-4">
    <button (click)="listServer()" class="btn btn-primary">Listar Servidores</button>
    <button class="btn btn-primary ml-5" [routerLink]="['serverCreate']" >Criar novo servidor</button>
    <button class="btn btn-primary ml-5" (click)="user()" >Usuários</button>
  </div>

</div>


<!--Lista de Servidores-->
<div class="row" *ngIf="!showdataServ; else showData">
  <div class="col-sm-3 mb-4" *ngFor="let datalistServer of datalistServer; let i=index">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Nome: {{datalistServer?.name}}</h5>
        <a class="btn btn-primary" (click)="showServer(i)">More</a>
      </div>
    </div>
  </div>
</div>

<!--Card de Informações do Servidor-->
<ng-template #showData>
<div class="row justify-content-center">
  <div class="card mt-5 mb-5" style="width: 18rem;">
  <div class="card-body text-center">
    <h5 class="card-title"> Nome: {{dataList?.name}}</h5>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">Doença: {{dataList?.hasDisease}}</li>
    <li class="list-group-item">Compartilhado: {{dataList?.shared}}</li>
    <li class="list-group-item">Dinehiro Inicial: {{dataList?.initialMoney}}</li>
    <li class="list-group-item">Pontuação Inicial: {{dataList?.initialStatsPoints}}</li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#expTabModal" routerLink="{{ serverId }}/tabExp" >Tabela de Experiência</button></li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" routerLink="{{ serverId }}/parcels">Pacotes</button></li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" routerLink="{{ serverId }}/avbitems">Itens Disponíveis</button></li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" [routerLink]="['serverEdit']">Editar Servidor</button></li>
  </ul>
</div>
</div>

</ng-template>
