<div class="row">
  <div class="col-sm-3">
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <a><img  class="rounded float-right" src="../../../assets/img/mais-tres-pontos-indicador 1.png"></a>
        <div class="d-flex flex-row">
          <img src="../../../assets/img/user 1.png" class="mr-4">
          <p class="card-text"><b>{{ user }}</b> <br/>Usuários</p><br/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <a><img  class="rounded float-right" src="../../../assets/img/mais-tres-pontos-indicador 1.png"></a>
        <div class="d-flex flex-row">
          <img src="../../../assets/img/swords 1.png" class="mr-2">
          <p class="card-text"><b>{{ avbItems }}</b> <br/> Itens disponíveis</p><br/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <a><img  class="rounded float-right" src="../../../assets/img/mais-tres-pontos-indicador 1.png"></a>
        <div class="d-flex flex-row">
          <img src="../../../assets/img/Group 66.png" class="mr-4">
          <p class="card-text"><b>{{ jobs }}</b> <br/> Profissões</p><br/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <a><img  class="rounded float-right" src="../../../assets/img/mais-tres-pontos-indicador 1.png"></a>
        <div class="d-flex flex-row">
          <img src="../../../assets/img/skull 1.png" class="mr-4">
          <p class="card-text"><b>{{ jobs }}</b> <br/> Profissões</p><br/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Avatares</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Máquina Exp</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card shadow p-2 bg-white rounded settings">
      <div class="card-body">
        <h5 class="card-title">Configurações</h5>
        <div class="d-flex">
          <img  src="../../../assets/img/gesto-de-mao 1.png">
          <p class="card-text"> Ponto de Satatus Inicial <b>{{ statsInitialpoint }}</b></p>
        </div>
        <div class="d-flex">
          <img src="../../../assets/img/dollar 1.png">
          <p class="card-text"> Dinheiro Inicial <b>{{ InitialMoney }}</b></p>
        </div>
        <div class="d-flex">
          <img src="../../../assets/img/unlock 1.png">
          <p class="card-text">Compartilhado <b>{{ shared }}</b></p>
        </div>
        <div class="d-flex">
          <img src="../../../assets/img/risk-skull 1 (1).png">
          <p class="card-text">Debbufs <b>{{ hasDisease }}</b></p>
        </div>


      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Ranking de Experiência</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
  </div>
</div>
<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a class="nav-link" routerLink="{{serverId}}/avatar">Avatar</a></li>
        <li><a class="nav-link"  routerLink="{{serverId}}/expMachine">Exp Machine</a></li>
        <li><a class="nav-link" routerLink="{{serverId}}/jobs">Jobs</a></li>
        <li><a class="nav-link">Itens</a></li>
        <li><a class="nav-link" routerLink="{{serverId}}/desease">Desease</a></li>
        <li><a class="nav-link">Usuários</a></li>
    </ul>
  </div>
</nav>

  <div class="row justify-content-center">
  <div class="col-sm-12 mt-5 mb-4">
    <button (click)="listServer()" class="btn btn-primary">Listar Servidores</button>
    <button class="btn btn-primary ml-5" [routerLink]="['serverCreate']" >Criar novo servidor</button>
    <button class="btn btn-primary ml-5" (click)="user()" >Usuários</button>
  </div>

</div>

<div class="row" *ngIf="!showdataServ; else showData">
  <div class="col-sm-3 mb-4" *ngFor="let datalistServer of datalistServer; let i=index">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Nome: {{datalistServer?.name}}</h5>
        <a class="btn btn-primary" (click)="showServer(i)">More</a>
      </div>
    </div>
  </div>
</div>

<ng-template #showData>
<div class="row justify-content-center">
  <div class="card mt-5 mb-5" style="width: 18rem;">
  <div class="card-body text-center">
    <h5 class="card-title"> Nome: {{dataList?.name}}</h5>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">Doença: {{dataList?.hasDisease}}</li>
    <li class="list-group-item">Compartilhado: {{dataList?.shared}}</li>
    <li class="list-group-item">Dinehiro Inicial: {{dataList?.initialMoney}}</li>
    <li class="list-group-item">Pontuação Inicial: {{dataList?.initialStatsPoints}}</li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#expTabModal" routerLink="{{ serverId }}/tabExp" >Tabela de Experiência</button></li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" routerLink="{{ serverId }}/parcels">Pacotes</button></li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" routerLink="{{ serverId }}/avbitems">Itens Disponíveis</button></li>
    <li class="list-group-item"><button type="button" class="btn btn-outline-info" [routerLink]="['serverEdit']">Editar Servidor</button></li>
  </ul>
</div>
</div>

</ng-template>

-->
