<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal6">
              <span>+</span>
              </button>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Saúde</th>
          <th scope="col">Vestimenta</th>
          <th scope="col">Experiência</th>
          <th scope="col">Fome</th>
          <th scope="col">Dinheiro</th>
          <th scope="col">Status Point</th>
          <th scope="col">isInitial</th>
          <th scope="col">Qtde Inicial</th>
          <th scope="col">isVirtual</th>
          <th scope="col">Editar Deletar</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody *ngFor="let avbItem of avbItem; let i=index">
        <tr>
          <th scope="row">1</th>
          <td>{{ avbItem?.name }}</td>
          <td>{{ avbItem?.health }}</td>
          <td>{{ avbItem?.vest}}</td>
          <td>{{ avbItem?.experience }}</td>
          <td>{{ avbItem?.hungry }}</td>
          <td>{{ avbItem?.money }}</td>
          <td>{{ avbItem?.statusPoint }}</td>
          <td>{{ avbItem?.isInitial }}</td>
          <td>{{ avbItem?.quantityInitial }}</td>
          <td>{{ avbItem?.isVirtual }}</td>
          <td><button type="button" class="btn btn-info"(click)="editAvb(i)">Edit</button></td>
          <td>
            <button type="button" class="btn btn-danger" (click)="delete(i)">Delete</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Availabe Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

    <form [formGroup]="dataAvbItem">
      <div class="form-group">
        <label for="parcelName">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Health</label>
        <input type="number" class="form-control" id="health" formControlName="health">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Vest</label>
        <input type="text" class="form-control" id="vest" formControlName="vest">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Experience</label>
        <input type="number" class="form-control" id="experience" formControlName="experience">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Hungry</label>
        <input type="number" class="form-control" id="hungry" formControlName="hungry">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Money</label>
        <input type="number" class="form-control" id="money" formControlName="money">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Status Point</label>
        <input type="number" class="form-control" id="statusPoint" formControlName="statusPoint">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Is Initial</label>
        <select class="custom-select" id="isInitial" formControlName="isInitial">
        <option selected>Choose...</option>
        <option [value]="true">True</option>
        <option [value]="false" >False</option>
        </select>
      </div>
      <div class="form-group">
        <label for="parcelDescription">Quantity Initial</label>
        <input type="number" class="form-control" id="quantityInitial" formControlName="quantityInitial">
      </div>
      <div class="form-group">
        <label for="parcelDescription">Is Virtual</label>
        <select class="custom-select" id="isVirtual" formControlName="isVirtual">
          <option selected>Choose...</option>
          <option [value]="true">True</option>
          <option [value]="false" >False</option>
          </select>
      </div>
    </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addAvb()">Adicionar</button>
        <button type="button" class="btn btn-primary" (click)="saveAvb()">Salvar</button>
      </div>
    </div>
  </div>
</div>
