<div class="card">
  <div class="card-body">
    <h5>Tabela de Experiência</h5>
<form [formGroup]="experience">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="level">Level</label>
    <input type="number" class="form-control" id="level" formControlName="level">
  </div>
  <div class="form-group">
    <label for="exp">Experiência</label>
    <input type="number" class="form-control" id="exp" formControlName="exp">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addExp()">Adicionar</button>
  <button type="submit" class="btn btn-primary" (click)="saveExp()">Salvar Tabela</button>
</form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Level</th>
          <th scope="col">Exp</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody *ngFor="let tabExp of tabExp; let i=index">
        <tr>
          <td>{{ tabExp?.exp }}</td>
          <td>{{ tabExp?.level }}</td>
          <td>{{ tabExp?.title }}</td>


        </tr>
      </tbody>
    </table>
  </div>
</div>




