<form [formGroup]="jobs" (ngSubmit)="save()">
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="color">Cor</label>
    <input type="text" class="form-control" id="color" formControlName="color"  >
  </div>
  <div class="form-group">
    <label for="requirementXp">XP requerido</label>
    <input type="text" class="form-control" id="requirementXp" formControlName="requirementXp">
  </div>

  <div class="form-group">
    <label for="canHeal">Tem Cura</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="canHeal" [value]="true" formControlName="canHeal">
  <label class="form-check-label">
    Sim
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="canHeal" [value]="false"  formControlName="canHeal">
  <label class="form-check-label">
    Não
  </label>
</div>
  </div>

  <div class="form-group">
    <label for="canHeal">Pode Prender</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="canArrest" [value]="true" formControlName="canArrest">
  <label class="form-check-label">
    Sim
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="canArrest" [value]="false"  formControlName="canArrest">
  <label class="form-check-label">
    Não
  </label>
</div>
  </div>

  <div class="form-group">
    <label for="canHeal">Pode Casar</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="canDoMarriage" [value]="true" formControlName="canDoMarriage">
  <label class="form-check-label">
    Sim
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="canDoMarriage" [value]="false"  formControlName="canDoMarriage">
  <label class="form-check-label">
    Não
  </label>
</div>
  </div>

  <div class="form-group">
    <label for="isDefault">É Padrão</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="isDefault" [value]="true" formControlName="isDefault">
  <label class="form-check-label">
    Sim
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="isDefault" [value]="false"  formControlName="isDefault">
  <label class="form-check-label">
    Não
  </label>
</div>
  </div>

  <div class="form-group">
    <label for="publicJob">É público</label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="publicJob" [value]="true" formControlName="publicJob">
  <label class="form-check-label">
    Sim
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="publicJob" [value]="false"  formControlName="publicJob">
  <label class="form-check-label">
    Não
  </label>
</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

