.navbar{
  background-color:  #F4F4F4;
  padding: 0;
}
.navbar ul li a{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #68717A;
}
.dropdown-menu{
     width: 206px;
    height: 150px;
    border: none;
}
.navbar-nav{
  width: 206px;

}
.navbar-nav .nav-item{
  width: 206px;


}
.dropdown-menu .dropdown-item{
  text-align: center;
  font-weight: 600;
  color: #343A40!important;
  height: 49px;
  line-height: 49px!important;

}
.dropdown-menu .dropdown-item:hover{
  background-color: #7749F8;
  color:  #E5E5E5!important;
}


