<div class="sidenav">
  <h4>Game Autobem</h4>
  <a href="#"><img src="../../../assets/img/botao-home 1.png">Home</a>
  <a [routerLink]="['user']"><img src="../../../assets/img/male-user-shadow 1.png">Usuários</a>
  <a ><img src="../../../assets/img/Vector (2).png">Configurações</a>
  <a href="#"><img src="../../../assets/img/sword 1.png">Itens</a>
  <a href="#"><img src="../../../assets/img/ferramentas-de-mao 1.png">Profissões</a>
  <a ><img src="../../../assets/img/trabalho-em-equipe 1.png">Avatares</a>
  <a href="#"><img src="../../../assets/img/vending-machine 1.png">Máquina de Exp</a>
  <a href="#"><img src="../../../assets/img/risk-skull 1.png">Defaults</a>
</div>
