
.card-box{
  width: 1340px;
  height: 800px;
  background-color: #E6DDFF;

}
.sidenav {
  height: 800px;
  width: 245px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  top: 50px;
  z-index: 1; /* Stay on top */
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 0px 0px 5px; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sidenav a {
  padding-left: 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: Inter;
  font-style: normal;

}
.sidenav h4{
  margin-bottom: 33px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  font-family: Inter;
  font-style: normal;
  text-align: center;
}
.sidenav img{
  padding-right: 16px;
}
.navbar{
  background-color:  #F4F4F4;
  padding: 0;
}
.navbar ul li a{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #68717A;
}
.dropdown-menu{
     width: 206px;
    height: 150px;
    border: none;
}
.navbar-nav{
  width: 206px;

}
.navbar-nav .nav-item{
  width: 206px;


}
.dropdown-menu .dropdown-item{
  text-align: center;
  font-weight: 600;
  color: #343A40!important;
  height: 49px;
  line-height: 49px!important;

}
.dropdown-menu .dropdown-item:hover{
  background-color: #7749F8;
  color:  #E5E5E5!important;
}



