<div class="card-box">
  <nav class="navbar navbar-expand-md navbar-dark mb-3">
    <div class="navbar-collapse collapse" id="collapsingNavbar">

        <ul class="navbar-nav  ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse"><img src="../../../assets/img/profile-user 1.png"></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{userName}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">Perfil</a>
                <a class="dropdown-item">Trocar de servidor</a>
                <a class="dropdown-item" (click)="logOut()">Sair</a>
              </div>
            </li>
        </ul>
    </div>
  </nav>
  <div class="sidenav">
    <h4>Game Autobem</h4>
    <a href="#"><img src="../../../assets/img/botao-home 1.png">Home</a>
    <a href="#"><img src="../../../assets/img/male-user-shadow 1.png">Usuários</a>
    <a href="#"><img src="../../../assets/img/Vector (2).png">Configurações</a>
    <a href="#"><img src="../../../assets/img/sword 1.png">Itens</a>
    <a href="#"><img src="../../../assets/img/ferramentas-de-mao 1.png">Profissões</a>
    <a href="#"><img src="../../../assets/img/trabalho-em-equipe 1.png">Avatares</a>
    <a href="#"><img src="../../../assets/img/vending-machine 1.png">Máquina de Exp</a>
    <a href="#"><img src="../../../assets/img/risk-skull 1.png">Defaults</a>
  </div>
  </div>

