<!--<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <button type="button" class="btn btn-info">
        <span>+</span>
        </button>
      </th>
      <th scope="col">title</th>
      <th scope="col">health</th>
      <th scope="col">armor</th>
      <th scope="col">isLeader</th>
      <th scope="col">isBanned</th>
      <th scope="col">exp</th>
      <th scope="col">money</th>
      <th scope="col">statusPoint</th>
      <th scope="col">strength</th>
      <th scope="col">agility</th>
      <th scope="col">accuracy</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody *ngFor="let avatar of avatar; let i=index">
    <tr>
      <th scope="row">1</th>
      <td>{{ avatar?.title }}</td>
      <td>{{ avatar?.health }}</td>
      <td>{{ avatar?.armor }}</td>
      <td>{{ avatar?.isLeader }}</td>
      <td>{{ avatar?.isBanned }}</td>
      <td>{{ avatar?.experience }}</td>
      <td>{{ avatar?.money }}</td>
      <td>{{ avatar?.statsPoints }}</td>
      <td>{{ avatar?.strength }}</td>
      <td>{{ avatar?.agility }}</td>
      <td>{{ avatar?.accuracy }}</td>
      <td>
        <button type="button" class="btn btn-info ml-1" (click)="avatarEdit(i)">Editar</button>
        <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#modalExemplo" (click)="getUuid(i)">Banir</button>
        <button type="button" class="btn btn-primary">Desbanir</button>
      </td>

    </tr>
  </tbody>
</table>



<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dataReason">
          <div class="form-group">
            <label for="reason"> Motivo</label>
            <input type="text" class="form-control" id="reason" formControlName="reason">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>-->
<app-table-detail
[tableTitle] = "currentTitle"
[columns] = "dataColumn"
[dataItems$] ="dataItems"
[ITEMS] = "ITEMS"
[actions] = "dataAction"
(action)="action($event)"
(create)="create($event)"
></app-table-detail>
